In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('aasdasiejhakdjbsfaksjs'))
s

0     a
1     a
2     s
3     d
4     a
5     s
6     i
7     e
8     j
9     h
10    a
11    k
12    d
13    j
14    b
15    s
16    f
17    a
18    k
19    s
20    j
21    s
dtype: object

In [3]:
s.unique()

array(['a', 's', 'd', 'i', 'e', 'j', 'h', 'k', 'b', 'f'], dtype=object)

In [4]:
s.value_counts()

a    5
s    5
j    3
d    2
k    2
e    1
h    1
b    1
f    1
i    1
dtype: int64

In [5]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')

In [6]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [7]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64